*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	font-family: arial;
}

section{
	padding: 75px 0px;
}

.container{
	width: 90%;
	/*background-color: aqua;*/
	margin: auto;
}

.underline{
	border-bottom: 2px solid #000;
	display: block;
	width: 25%;
	margin: 15px auto;
}

/*header part*/

header {
	background-color: #87500c;
	color: white;
	width: 100%;
	float: left;
	text-align: center;
}

nav{
	width: 100%;
	float: left;
	padding: 15px 0px;
}
.logo-part{
	width: 50%;
	float:left;
	text-align: start;
}
.menu-part{
	width: 50%;
	float: left;
}
.menu-part ul{
	padding: 16px 0px;
}
.menu-part a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	transition: ease-in-out 0.4s; 
}
.menu-part li{
	list-style: none;
	display: inline-block;
	/*margin:0px 10px;*/
}
.menu-part a:hover{
	background-color: #00000075;
	padding: 10px;
	border-radius: 5px;
}
.header-writing-part{
	width: 100%;
	margin:50px 0px;
}
.header-writing-part h1{

}
.header-writing-part a button{
	width: 200px;
	padding: 17px;
	color: white;
	background-color: orange;
	text-transform: uppercase;
	margin-top: 20px;
}
.header-writing-part a button:hover{
	border-color: red;
}

/*Service section*/

#Services{
	width: 100%;
	float: left;
	background-color: gray;
	color: white;
	text-align: center;
}
.service-writing-part{
	width: 100%;
	float: left;
	text-align: center;
}
.service-writing-part p{
	padding: 0px 0px 30px;
}

.service-box-part{
	width: 100%;
	float: left;
	text-align: center;
}
.service-box{
	width: 25%;
	float: left;
}
.service-box h2{
	text-align: center;
}
.service-box h2 a{
	text-decoration: none;
}
.service-box h2 a:hover{
	background-color: red;
}
.service-box p{
	text-align: center;
}
.service-box img{
	text-align: center;
}
.service-writing-part{

}

/*Members of our team*/
#team{
	width: 100%;
	background-color: navy;
	text-align: center;
	float: left;
	color: white;
}
.team-writing-part{
	width: 100%;
}
.team-writing-part p{
	width: 100%;
	padding: 0px 0px 30px;
}
.team-members-part{
	width: 33.333%;
	float: left;
}
.team-members-part h2{
	padding: 20px 0px 5px;
	margin: 10px 0px;
}
.team-members-part img{

}
.team-members-part p{
	text-align: center;
}

/*Skill Proccesing*/
#skill{
	width: 100%;
	background-color: #F3425F;
	color: white;
	text-align: center;
	float: left;
}
.skill-writing-part{
	padding: 10px 0px;
}
.skill-writing-part h2{

}
.skill-writing-part p{
	padding: 0px 0px 30px;
}
.skill-showing-part{
	width: 25%;
	float: left;
}
.skill-showing-part p{
	padding: 5px 0px;
}
.skill-showing-part img{
	text-align: center;
}
.skill-showing-part h2{
	padding: 20px 0px 5px;

}

/*Footer*/
footer{
	width: 100%;
	padding: 150px 0px 200px;
	color: white;
	background-color: #54C7EC;
	float: left;
	text-align: center;
}
.main h2{
	padding: 0px 0px 30px;
}
.main p{
	padding: 30px 0px 30px;
}